footer {

    background: rgb(255, 255, 255);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(20px);

    border-radius: 40px;

    .container {
        p {
            color: #26175C;
            font-family: "VT323", monospace;
            font-weight: 500;
            font-size: 14px;
            font-style: normal;

            span {
                color: rgb(20, 20, 80);
            }
        }
    }

    ul {
        li {
            a {

                font-family: "VT323", monospace;
                font-weight: 500;
                font-size: 20px;
                color: #26175C;
                font-style: normal;
            }
        }
    }

    .scroll-top {
        text-decoration: none;
        transition: transform 0.3s ease, color 0.3s ease;
    }

    .scroll-top:hover {
        transform: translateY(-5px);
        color: #4a2cb4;
    }


    footer a.text-decoration-none:hover {
        color: #4f35af;
    }

}
