.skills-section {
  text-align: center;


  background-color: black;
  padding: 100px;
}

h2 {
  font-family: "VT323", monospace;
  font-weight: 500;
  color: white;
}

p {
  font-family: "VT323", monospace;
  font-weight: 500;
}

.subtitle {
  margin-top: 10px;
  color: #666;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.skill-card {
  width: 180px;
  height: 180px;
  background: #ffffff;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  border: 2px solid rgba(128, 128, 128, 0.212);
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 1px 2px 1px #26175c27;
}

.skill-card img {
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.skill-card img:hover {
  transform: scale(1.1);

}

.skill-card h3 {
  margin: 5px 0;
  font-weight: 700;
  font-family: "VT323", monospace;
  font-weight: 500;
  color: #7b63d386;
}

.skill-card p {
  color: #17185c;
  font-family: "VT323", monospace;
  font-weight: 500;
  font-size: 19px;

}


.skill-card:hover {

  background: transparent;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  color: white;
  transform: scale(1.1) translateY(8px);
}

.skill-card:hover p {
  color: white;
}